html, body {
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
}

body {
    overscroll-behavior-y: none;
    margin: 0;
    background-color: rgb(207, 207, 207);
}

.header {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("./public/header.png");
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 0% 0% 0% 0%;
}

.header-section {
    position: fixed;
    width: 100vw;
    height: 13vh;
    bottom: 0;
    top: 0;
    overflow: hidden;
    z-index: 1030;
    background-color: rgba(245, 245, 245, 0);
}

/*          FADE IN ANIMATION            */
.not-in-view {
    opacity: 1;
    transform: translateY(20vh);
    opacity: 0;
    visibility: hidden;
}

.fade-in-view {
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.in-view {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.fixed-top {
    position: fixed;
    bottom: 0;
    top: 0;
    overflow: hidden;
    z-index: 1030;
    height: 13vh;
}

.service__fixed-top {
    background-color: rgb(207, 207, 207);
    color: #2c3e50;
    transition: color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.project__fixed-top {
    background-color: #2c3e50;
    color: whitesmoke;
    transition: color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.bio__fixed-top {

}

.contact__fixed-top {
    background-color: #2c3e50;
    color: whitesmoke;
    transition: color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    opacity: 0.9;
}

.header__title {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 450px;
    top: 10%;
    left: 10%;
}

.header__doppio-logo {
    position: relative;
    width: 95px;
    transform: rotate(25deg);
    margin-right: 5%;
    transform: scale(.6);
}

.mobile-title {
    display: none;
}

.nav-bar {
    position: relative;
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 625px;
    height: 100px;
}

.nav-bar ul {
    position: relative;
    list-style: none;
    display: flex;
    height: 100px;
    top: 0%;
}

.nav-bar li {
    position: relative;
    margin-left: 15%;
    width: 200px;
    text-align: center;
    margin-left: 0%;
    top: 15%;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
    cursor: pointer;
    color: rgb(175, 175, 175);
}

.nav-bar a:active {
    color: rgb(164, 164, 164);
}

.active-link {
    color: rgb(164, 164, 164) !important;
}



/*                      SERVICES                */
.services {
    position: relative;
    height: 120vh;
    background-color: rgba(207, 207, 207, 0.198);
}

.mobile-serivces__image-container {
    display: none;
}

.services__header {
    position: relative;
    width: 25%;
    left: 37.5%;
    text-align: center;
    top: 5%;
    color: #2c3e50;
    border-top: #2c3e50 5px solid;
    border-bottom: #2c3e50 5px solid;
}

.services__content-container {
    position: relative;
    /* height: 60%;
    width: 75%; */
    height: 70vh;
    width: 70vw;
    left: 12.5%;
    top: 10%;
}

.services__content {
    position: relative;
    height: 40%;
    width: 50%;
    top: 15%;
    left: 25%;
    text-align: center;
}


.services__image-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}


.services__nav-container {
    position: relative;
    list-style: none;
    color: #2c3e50be;
    text-align: center;
    top: 3%;
}

.services-pagination {
    accent-color: #2c3e50be;
}

#business-website {
    position: relative;
    width: 100%;
    height: 100%;
}

#business-caption {
    position: relative;
    color: whitesmoke;
    font-size: 45px;
    width: 35%;
    left: 65%;
    top: -30%;
}

/* Content Slider */
.services__slider {
    position: relative;
    /* width: 1000px;
    height: 500px; */
    width: 70vw;
    height: 70vh;
    top: -15%;
    left: -20%;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

.services__image-container {
    /* width: 3000px;
    height: 500px; */
    width: 2100vw;
    height: 70vh;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
    left: 0;
}

.services__slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    /* width: 1000px;
    height: 500px; */
    width: 70vw;
    height: 70vh;
}

.services__slide-image {
    width: 100%;
    height: 100%;
}

.services__slide-label {
    position: relative;
    background-color: #2c3e50dc; 
    width: 25%;
    left: 37.5%;
    color: whitesmoke;
    top: -15%; 
    font-size: 25px;
    border-radius: 5%;
}

.services__buttons {
    position: relative;
    width: 100%;
    top: 0%;
}
.services__buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    margin-left: 5.5px;
    margin-right: 5.5px;
    border: 1px solid #2c3e50c6;
    
}

.serv-active {
    background-color: #2c3e50c6;
}
  

/*                      PREVIOUS PROJECTS            */
.projects {
    position: relative;
    height: 120vh;
    background-color: #2c3e50;
    color: whitesmoke;
}

.mobile-projects__image-container {
    display: none;
}

.projects__header {
    position: relative;
    width: 25%;
    left: 37.5%;
    text-align: center;
    top: 5%;
    border-top: #ececec 5px solid;
    border-bottom: #ececec 5px solid;
}

.projects__content {
    position: relative;
    height: 86.5%;
    width: 100%;
    text-align: center;
}


/* Content Slider */
.projects__slider {
    position: relative;
    /* width: 1000px;
    height: 600px; */
    width: 70vw;
    height: 70vh;
    left: 15%;
    top: 15%;
    text-align: center;
    overflow: hidden;
  }

  .projects__image-container {
    /* width: 3000px;
    height: 600px; */
    width: 2100vw;
    height: 70vh;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
    left: 0;
  }
  
  .projects__slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    /* width: 1000px;
    height: 600px; */
    width: 70vw;
    height: 70vh;
  }

  .projects__slide-image {
    width: 100%;
    height: 100%;
  }

  .projects__slide-label {
    position: relative;
    background-color: #2c3e50dc; 
    width: 25%;
    left: 37.5%;
    color: whitesmoke;
    top: -15%; 
    font-size: 25px;
    border-radius: 5%;
  }

  .projects__slide-label a, .mobile-projects__slide-label a {
    /* text-decoration: none !important; */
    color: whitesmoke
  }

  .projects__buttons {
    position: relative;
    width: 100%;
    top: 18%;
  }
  .projects__buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    margin-left: 5.5px;
    margin-right: 5.5px;
    border: 1px solid #ffffffc6;
  }

  .projects__buttons:hover {
    cursor: pointer;
  }

  .proj-active {
    background-color: #ffffffc6;
  }



/*                       BIO                              */

.bio {
    height: 100vh;
}

.bio__header {
    position: relative;
    width: 50%;
    left: 25%;
    top: 10%;
    text-align: center;
    color: whitesmoke
}

.doppio__definition {
    position: relative;
    background-color: #2c3e50e7;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    left: 15%;
    margin-top: 5%;
    text-align: center;
    color: whitesmoke;
    box-shadow: 0 8px 8px 0 #2c3e505c;
}

.doppio__definition h3 {
    position: relative;
    top: 25%;
}

.doppio__definition p {
    position: relative;
    top: 25%;
}

.doppio__definition hr {
    position: relative;
    top: 25%;
}

.bio__content {
    position: relative;
    width: 100%;
    height: 100%;
    top: -108%;
}

.bio__content-1 {
    position: relative;
    color: whitesmoke;
    background-color: #2c3e50e7;
    box-shadow: 0 8px 8px 0 #2c3e505c;
    width: 25%;
    height: 30%;
    left: 36%;
    top: -20%;
    text-align: center;
    padding: 15px;
    padding-top: 60px;
    border-radius: 5% 5% 5% 5%;
}

.bio__content-2 {
    position: relative;
    color: whitesmoke;
    background-color: #2c3e50e7;
    box-shadow: 0 8px 8px 0 #2c3e505c;
    width: 25%;
    height: 65%;
    left: 67%;
    top: -70%;
    text-align: center;
    padding: 15px;
    border-radius: 2% 2% 2% 2%;
}

.bio .overlay {
    position: absolute;
    top: 340vh;
    left: 0;
    width: 100%;
    height: 103%;
    background: #73777a84;
    opacity: 0.9;
    border-radius: 0% 0% 0% 0%;
}

#myVideo {
    height: 110vh;
    width: 100vw;
    margin-top: -2%;
  }

/*                   Contact Form                  */
.contact-us {
    height: 80vh;
    background-color: #2c3e50;
    border-radius: 0% 0% 0% 0%;
}

.form-title {
    position: relative;
    width: 25%;
    left: 37.5%;
    top: 10%;
    text-align: center;
    color: whitesmoke;
}

.form-container {
    position: relative;
    width: 50%;
    height: 60%;
    left: 25%;
    top: 10%;
    text-align: center;
    padding: 15px;
}

.form-row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 50%;
    left: 25%;
}

.form-control__name, .form-control__email {
    position: relative;
    width: 45%;
    height: 50%;
    border-radius: 5px; 
    border: 1px grey solid;
    padding-left: 10px;
}

.form-group__message {
    position: relative;
    width: 50%;
    left: 25%;
}

.form-control__message {
    position: relative;
    width: 99%;
    height: 100%;
    border-radius: 2%;
    border: 1px #2c3e50c6;
    padding-left: 10px;
    padding-top: 10px;
    accent-color: #2c3e50c6;
}

.form-control__submit {
    position: relative;
    background-color: #ffffff;
    border: 1px #2c3e50c6 solid;
    color: #2c3e50;
    border-radius: 5%;
    margin-top: 2%;
    height: 45px;
    width: 155px;
}
/*                  Footer               */
.footer {
    height: 15vh;
    color: white
}

.footer__title {
    position: relative;
    width: 15%;
    height: 95%;
    color: #2c3e50;
    display: flex;
    left: 15%;
}

.footer__doppio-logo {
    position: relative;
    width: 55px;
    height: 55px;
    transform: rotate(20deg);
    margin-right: 3%;
    left: 25%;
    top: 25%;
    display: none;
}

.footer__title p {
    position: relative;
    top: 25%;
}



/* Mobile Phone */

@media only screen and (max-width:640px){
    /* Header */
    .mobile-title {
        display: flex;
        text-align: center;
        font-size: 12px;
        position: absolute;
        width: 100vw;
        height: 15vh;
        top: 25%;
        color: white;
    }
    .mobile-header__title {
        position: relative;
        width: 100vw;
        height: 15vh;
        
    }
    .mobile-header__doppio-logo {
        height: 55px;
        transform: rotate(20deg)
    }

    .header-section {
        position: fixed;
        width: 100vw;
        height: 10vh;
        bottom: 0;
        top: 0;
        overflow: hidden;
        z-index: 1030;
    }

    .nav-bar {
        position: fixed;
        color: white;
        top: 0%;
        left: 0%;
        width: 100vw;
        height: 10vh;
    }

    .nav-bar ul {
        position: relative;
        list-style: none;
        display: flex;
        top: -20%;
        height: 100%;
        width:80vw;
    }


    .nav-bar li {
        position: relative;
        width: 25%;
        height: 5vh;
        text-align: center;
        margin-left: 0%;
        margin-right: 15%;
        top: 0%;
        padding-top: 5%;
    }

    .header__title {
        color: white;
        display: flex;
        flex-direction: row;
        width: 100vw;
        font-size: 15px;
        top: 55%;
        left: 0%;
        display: none;
    }

    .header__doppio-logo {
        position: relative;
        transform: rotate(25deg);
        margin-right: 5%;
        transform: scale(.5);
        display: none;
    }

    /* Services */
    .services {
        height: 130vh;
    }
    .services__header {
        position: relative;
        width: 75vw;
        left: 12.5%;
        font-size: smaller;
    }

    .services__slider, .services__buttons {
        display: none;
    }

    .mobile-serivces__image-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 95vh;
    }

    .services__content {
        top: 7%;
        left: 0%;
    }

    .mobile-services__image-box {
        width: 100vw;
        height: 28vh;
        margin-bottom: 10%;
    }

    .mobile-services__slide-image {
        width: 95vw;
        height: 25vh;
    }

    .mobile-services__slide-label {
        position: relative;
        top: 5%;
    }

    /* Projects */
    .projects {
        height: 130vh;
    }

    .projects__header {
        position: relative;
        width: 75vw;
        left: 12.5%;
        font-size: smaller;
        top: 2.5%;
    }
    
    .projects__slider, .projects__buttons {
        display: none;
    }

    .mobile-projects__image-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 95vh;
        top: 7.5%;
    }

    .mobile-projects__image-box{
        width: 100vw;
        height: 28vh;
        margin-bottom: 10%;
    }

    .mobile-projects__slide-image {
        width: 95vw;
        height: 25vh;
    }

    .mobile-projects__slide-label {
        position: relative;
        top: 5%;
    }

    /* BIO */
    .bio-backdrop {
        display: none;
    }

    .bio__header {
        display: none;
    }

    .bio__content {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0%;
    }

    .doppio__definition {
        width: 40vw;
        height: 20vh;
        left: 30vw;
        top: 47.5%;
        font-size: smaller;
    }

    .doppio__definition h3,
    .doppio__definition p,
    .doppio__definition hr {
        top: 25%;
    }

    .bio__content-1, .bio__content-2 {
        width: 90vw;
        left: 5vw;
        top: 0%;
        padding: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .bio__content-1 {
        top: 50%;
        height: 25vh;
    }

    .bio__content-2 {
        border-radius: 5%;
        top: -47.5%;
        height: 40vh;
        overflow-y: scroll;
    }

    .bio__content-2 br {
        display: none;
    }

    /* Contact */
    .contact-us {
        height: 80vh;
        background-color: #2c3e50;
        border-radius: 0% 0% 0% 0%;
    }
    
    .form-title {
        width: 90vw;
        left: 5vw;
        font-size: smaller;
    }

    .form-title hr {
        /* display: none; */
    }
    
    .form-container {
        width: 75vw;
        height: 40vh;
        left: 9%;
    }
    
    .form-row {
        height: 50px;
        width: 90%;
        left: 12.5%;
        display: flex;
        flex-direction: column;
    }
    
    .form-control__name, .form-control__email {
        position: relative;
        width: 80%;
        height: 50%;
        padding-left: 10px;
        margin-bottom: 5%;
    }
    
    .form-group__message {
        width: 80%;
        left: 10%;
        margin-top: 5%;
    }

    /* Footer */
    .footer {
        height: 15vh;
        color: white
    }
    
    .footer__title {
        position: relative;
        width: 55%;
        height: 100%;
        color: #2c3e50;
        display: flex;
        left: 5%;
        /* background-color: red; */
    }
   
    .footer__title p {
        position: relative;
        font-size: 20px;
        top: 25%;
    }
}




/* iPad @media (min-width:640px and max-width:1007)*/

@media only screen and (min-width:640px ) and (max-width: 1007px){
    /* Header */
    .mobile-title {
        display: flex;
        text-align: center;
        font-size: 12px;
        position: absolute;
        width: 100vw;
        height: 15vh;
        top: 25%;
        color: white;
        font-size: larger;
    }
    .mobile-header__title {
        position: relative;
        width: 100vw;
        height: 15vh;
        
    }
    .mobile-header__doppio-logo {
        height: 75px;
        transform: rotate(20deg)
    }

    .header-section {
        position: fixed;
        width: 100vw;
        height: 10vh;
        bottom: 0;
        top: 0;
        overflow: hidden;
        z-index: 1030;
    }

    .nav-bar {
        position: fixed;
        color: white;
        top: 0%;
        left: 0%;
        width: 100vw;
        height: 10vh;
    }

    .nav-bar ul {
        position: relative;
        list-style: none;
        display: flex;
        top: -20%;
        left: 7vw;
        height: 100%;
        width:80vw;
    }


    .nav-bar li {
        position: relative;
        width: 25%;
        height: 5vh;
        text-align: center;
        margin-left: 0%;
        margin-right: 15%;
        top: 15%;
        padding-top: 5%;

    }

    .header__title {
        color: white;
        display: flex;
        flex-direction: row;
        width: 100vw;
        font-size: 15px;
        top: 55%;
        left: 0%;
        display: none;
    }

    .header__doppio-logo {
        position: relative;
        transform: rotate(25deg);
        margin-right: 5%;
        transform: scale(.5);
        display: none;
    }

    /* Services */
    .services {
        height: 130vh;
    }
    .services__header {
        position: relative;
        width: 50vw;
        left: 25vw;
        font-size: smaller;
    }

    .services__slider, .services__buttons {
        display: none;
    }

    .mobile-serivces__image-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 95vh;
    }

    .services__content {
        top: 7%;
        left: 0%;
    }

    .mobile-services__image-box {
        width: 100vw;
        height: 28vh;
        margin-bottom: 10%;
    }

    .mobile-services__slide-image {
        width: 65vw;
        height: 25vh;
    }

    .mobile-services__slide-label {
        position: relative;
        top: 5%;
    }

    /* Projects */
    .projects {
        height: 130vh;
    }

    .projects__header {
        position: relative;
        width: 50vw;
        left: 25vw;
        font-size: smaller;
        top: 2.5%;
    }
    
    .projects__slider, .projects__buttons {
        display: none;
    }

    .mobile-projects__image-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 95vh;
        top: 7.5%;
    }

    .mobile-projects__image-box{
        width: 100vw;
        height: 28vh;
        margin-bottom: 10%;
    }

    .mobile-projects__slide-image {
        width: 65vw;
        height: 25vh;
    }

    .mobile-projects__slide-label {
        position: relative;
        top: 5%;
    }

    /* BIO */
    .bio-backdrop {
        display: none;
    }

    .bio__header {
        display: none;
    }

    .bio__content {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0%;
    }

    .doppio__definition {
        width: 30vw;
        height: 20vh;
        left: 60vw;
        top: 10%;
        font-size: smaller;
    }

    .doppio__definition h3,
    .doppio__definition p,
    .doppio__definition hr {
        top: 25%;
    }

    .bio__content-1, .bio__content-2 {
        width: 50vw;
        left: 5vw;
        top: 0%;
        padding: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .bio__content-1 {
        top: 30%;
        left: 25vw;
        height: 25vh;
    }

    .bio__content-2 {
        border-radius: 5%;
        top: -47.5%;
        height: 40vh;
        overflow-y: scroll;
    }

    .bio__content-2 br {
        display: none;
    }

    /* Contact */
    .contact-us {
        height: 80vh;
        background-color: #2c3e50;
        border-radius: 0% 0% 0% 0%;
    }
    
    .form-title {
        width: 90vw;
        left: 5vw;
        font-size: smaller;
    }

    .form-title hr {
        /* display: none; */
    }
    
    .form-container {
        width: 75vw;
        height: 40vh;
        left: 9%;
    }
    
    .form-row {
        height: 50px;
        width: 80%;
        left: 10%;
        /* display: flex; */
        /* flex-direction: column; */
        /* background-color: red; */
    }
    
    .form-control__name, .form-control__email {
        position: relative;
        width: 30%;
        height: 50%;
        padding-left: 10px;
        margin-bottom: 5%;
    }

    .form-control__email {
        left: 0% !important;
    }
    
    .form-group__message {
        width: 80%;
        left: 10%;
        margin-top: 5%;
    }

    /* Footer */
    .footer {
        height: 15vh;
        color: white
    }
    
    .footer__title {
        position: relative;
        width: 55%;
        height: 100%;
        color: #2c3e50;
        display: flex;
        left: 5%;
        /* background-color: red; */
    }
   
    .footer__title p {
        position: relative;
        font-size: 20px;
        top: 25%;
    }

}